<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Description}}">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <h1>{{.Name}}</h1>
        <h3>{{.Role}}</h3>
    </header>
    <section id="contact" class="contact-section">
    <h2>Contact Info</h2>
    <ul>
        <li>{{.Phone}}</li>
        <li>{{.Email}}</li>
        <li><a href={{.Website}}>{{.Website}}</a></li>
        <li><a href={{.Github}} target="_blank">Github</a></li>
        <li><a href={{.LinkedIn}} target="_blank">LinkedIn</a></li>
    </ul>
    </section>
    <section id="skills" class="skills-section">
    <h2>Skills</h2>
    <ul>
       {{range .Skills}} 
        <li>{{.}}</li>
       {{end}}
    </ul>
    </section>
    <section id="education" class="education-section">
    <h2>Education</h2>
        <ul>
        {{range .Education}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    </section>
    <section id="summary" class="summary-section">
    <h2>Summary</h2>
        {{.Summary}}
    </section>
    <section id="experience" class="experience-section">
    <h2>Experience</h2>
        {{range .Experience}}
            <ul>
                <li>{{.Title}}</li>
                <li>{{.Company}}</li>
                <li>{{.Location}}</li>
                <li>{{.Date}}</li>
                <li>{{.Description}}</li>
            </ul>
            <br>
        {{end}}
    </section>
    <section id="other" class="other-section">
    <h2>Other</h2>
        {{.Other}}
    </section>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>